header {
  position: relative;
}

ul
{

display:inline;

list-style-type:none;
margin:15;
padding:0;
position:relative;
right:10px
top:10px;
}

section {
	float:left;
	width: 50%;
	margin:0px;

}

aside {
	width:50%;
	float:right;
	margin:0px;
}

img {
	width:200px;
	padding:400px;

}




