

div#header {
	width: 100%;
	position: re;
	margin:left 200px;
	height:200px;
	background-color: #203B78;
	overflow:scroll;

}
div#wrapper {
	border-width: 50%
}

 

section {
	width: 20%;
	float:left;

}

aside {
	width:30%;
	float:right;
}

img {
	width:300px;
	padding:100px;

}

